name: gopen
services:
  api:
    build:
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEO4J_URI: bolt://db:7687
      NEO4J_USERNAME: neo4j
      NEO4J_PASSWORD: testpassword
    depends_on:
      db:
        condition: service_healthy
    secrets:
      - jwt_sign

  db:
    image: neo4j:community-trixie
    ports:
      - "7687:7687"
    healthcheck:
      test: ["CMD-SHELL", "cypher-shell -u neo4j -p testpassword --access-mode=read  \"RETURN 0\""]
      interval: 5s
      timeout: 1m
      retries: 5
      start_period: 15s
    environment:
      NEO4J_AUTH: neo4j/testpassword
    volumes:
      - db-data:/data

  db-fill:
    image: neo4j:community-trixie
    volumes:
      - ./migrations:/migrations
    command: cypher-shell -a bolt://db:7687 -u neo4j -p testpassword -f /migrations/test_docs.cypher
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - tools

  db-setup:
    image: neo4j:community-trixie
    volumes:
      - ./migrations:/migrations
    command: cypher-shell -a bolt://db:7687 -u neo4j -p testpassword -f /migrations/setup.cypher
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - tools

secrets:
  jwt_sign:
    file: .secrets/jwt_sign

volumes:
  db-data:
